.tweeter-container {
	
	background: #333333;
	
	border: none;
	
	border-radius: 5px;
	
	-moz-border-radius: 5px;
	
	-webkit-border-radius: 5px;
	
	-o-border-radius: 5px;
	
	-ms-border-radius: 5px;
	
	-khtml-border-radius: 5px;
	
	color: #FFFFFF;
	
	font-family: "lucida grande",lucida,tahoma,helvetica,arial,sans-serif;
	
}
	
	.tweeter-container a {
		
		color: #FFFFFF;
		
	}
	
	.tweeter-container a.name {
		
		color: #FFFFFF;
		
		font-weight: normal;
		
	}
	
	.tweeter-container #tweets {
		
		background: #000000;
		
		border-radius: 5px;
		
		-moz-border-radius: 5px;
		
		-webkit-border-radius: 5px;
		
		-o-border-radius: 5px;
		
		-ms-border-radius: 5px;
		
		-khtml-border-radius: 5px;
		
		line-height: normal;
		
		margin: 10px 1px;
		
		padding: 0;
		
	}
	
	.tweeter-container #tweets a {
		
		color: #00FF00;
		
	}
	
	.tweeter-container #tweets .tweet {
		
		background: none;
		
		border: 1px dotted #FFFFFF;
		
		border-width: 0 0 1px;
		
		margin: 0;
		
	}
	
	.tweeter-container #tweets span {
		color: #E66969;
	}
	
	.tweeter-container .info {
		
		margin-top: -2px;
		
	}
	
	.tweeter-container .stopper input[type='checkbox'] {
		
		top: 0;
		
	}
	
	.tweeter-container .title {
		
		font-weight: normal;
		
	}
	
	.tweeter-container .error {
		
		padding: 5px;
		
	}
	